.page{
    height: 100%;
    position: relative;

    #map-container{
        height: 100%;
    }
}


@media screen and (max-width: 900px){
    .page{
        display: flex;
        flex-direction: column;

        #map-container{
            height: 75%;
            flex-shrink: 0;
        }

        .search-bar{
            flex: 1;
            flex-shrink: 0;
            position: relative;
            top: 0;
            left: 0;
            width: 100%;
            justify-content: space-evenly;
        }
    }
}